body{
    margin:0;
    text-align:center;
    font-family: 'Merriweather', serif;
}
h1{
    color:#66BFBF;
    font-size:5.625rem;
    margin:50px auto 0 auto;
    font-family: 'Sacramento', cursive;

}

h2{
    color:#66BFBF;
    font-size:2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    background-color:#E4F9F5;
    height: 200;
    width: 200;
    position: relative;
    padding:100px;
}

.middle-container{
    
}

.bottom-container{
    margin-top:40px;
    background-color: #7FC8A9;
    height:50px;
    padding:50px;
    line-height: 2;

}
.underline{
    text-decoration: underline;
}
.cloud-1{
    position:absolute;
    top:35px;
    left:950px;
}
.cloud-2{
    position:absolute;
    left:400px;
}

.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align:left;
    line-height: 2;
}

.coder{
    width:25%;
    float:left;
    margin-right:30px;
}
.logo{
    width:25%;
    float:right;
    margin-left:30px;
}

.para{
    color:#00A19D;
}

hr{
    border-style: none;
    border-top-style:dotted;
    border-color:grey;
    border-width:6px;
    width:3%;
}

.contact-me{
    margin-top:100px;
}

.btn {
    margin-top:20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 100;
    padding: 7px;
    background-color: #17C6AB;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 a{
     color:#11999E;
     font-family: 'Montserrat', sans-serif;
     margin:10px 20px;
     text-decoration:none;
 }

 a:hover{
     color:white;
 }
